@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
body {
  margin: 0;
}

.dashboard-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.dashboard-container--light {
  background-color: white;
}

.dashboard-container--dark {
  background-color: #1e202a;
}

.background-top {
  position: absolute;
  width: 100%;
  height: 280px;
}

.background-top--light {
  background-color: #f5f7ff;
}

.background-top--dark {
  background-color: #1f212e;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Inter", sans-serif;
  width: 1000px;
  margin: 70px 0 50px 0;
  z-index: 1;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 0 50px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto 0 0;
}

.header__heading {
  font-weight: 700;
  font-size: 26px;
  margin: 0 0 7px 0;
}

.header__heading--light {
  color: #1e202a;
}

.header__heading--dark {
  color: white;
}

.header__paragraph {
  font-weight: 400;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.4px;
  margin: 0;
}

.header__paragraph--light {
  color: #63687e;
}

.header__paragraph--dark {
  color: #8b97c6;
}

.header__divider {
  display: none;
  width: 100%;
  margin: 25px 0 15px 0;
}

.header__divider--light {
  opacity: 1;
}

.header__divider--dark {
  opacity: 0.3;
}

.header__toggle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__toggle-label {
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.3px;
}

.header__toggle-label--light {
  color: #1e202a;
}

.header__toggle-label--dark {
  color: white;
}

.header__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(45deg, #3eda82, #378fe6 70%);
  width: 48px;
  height: 25px;
  border-radius: 20px;
  margin: 0 10px;
}

.header__toggle:hover {
  cursor: pointer;
}

.header__toggle-circle {
  width: 18px;
  height: 18px;
  border-radius: 100%;
}

.header__toggle-circle--light {
  -webkit-transform: translateX(5.5px);
          transform: translateX(5.5px);
  background-color: white;
}

.header__toggle-circle--dark {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
  background-color: #252a41;
}

.large-blocks {
  width: 100%;
}

.large-blocks__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.large-blocks__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 230px;
  border-radius: 7px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  height: 190px;
  padding: 10px 55px;
  border-top-width: 4.5px;
  border-top-style: solid;
}

.large-blocks__block:hover {
  cursor: pointer;
}

.large-blocks__block--light {
  background-color: #f0f2fa;
}

.large-blocks__block--light:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.large-blocks__block--dark {
  background-color: #252a41;
}

.large-blocks__block--dark:hover {
  -webkit-filter: brightness(1.4);
          filter: brightness(1.4);
}

@media (max-width: 1050px) {
  .large-blocks__block {
    width: 320px;
  }
}

.large-blocks__heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 17px 0;
}

.large-blocks__username {
  font-weight: 400;
  font-size: 14.5px;
  margin: 0 0 0 10px;
}

.large-blocks__username--light {
  color: #63687e;
}

.large-blocks__username--dark {
  color: #8b97c6;
}

.large-blocks__value {
  font-weight: 700;
  font-size: 40px;
  margin: 0 0 5px 0;
}

.large-blocks__value--light {
  color: #1e202a;
}

.large-blocks__value--dark {
  color: white;
}

.large-blocks__label {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 4px;
  margin: 0;
}

.large-blocks__label--light {
  color: #63687e;
}

.large-blocks__label--dark {
  color: #8b97c6;
}

.large-blocks__net-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 20px 0;
}

.large-blocks__net-text {
  font-size: 12.5px;
  font-weight: 700;
  margin: 0 0 0 3px;
}

.large-blocks__net-text--positive {
  color: #1db489;
}

.large-blocks__net-text--negative {
  color: #dc414c;
}

#large-block-facebook {
  border-color: #198ff5;
}

#large-block-twitter {
  border-color: #1ca0f2;
}

#large-block-instagram {
  border-color: #df4996;
}

#large-block-youtube {
  border-color: #c4032a;
}

.small-blocks {
  width: 100%;
}

.small-blocks__heading {
  font-size: 22px;
  font-weight: 700;
  margin: 50px 0 22px 0;
}

.small-blocks__heading--light {
  color: #63687e;
}

.small-blocks__heading--dark {
  color: white;
}

.small-blocks__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.small-blocks__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 230px;
  border-radius: 7px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  padding: 25px;
  margin: 0 0 22px 0;
}

.small-blocks__block:hover {
  cursor: pointer;
}

.small-blocks__block--light {
  background-color: #f0f2fa;
}

.small-blocks__block--light:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.small-blocks__block--dark {
  background-color: #252a41;
}

.small-blocks__block--dark:hover {
  -webkit-filter: brightness(1.4);
          filter: brightness(1.4);
}

@media (max-width: 1050px) {
  .small-blocks__block {
    width: 320px;
  }
}

.small-blocks__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 70px;
}

.small-blocks__column--right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.small-blocks__title {
  font-weight: 400;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

.small-blocks__title--light {
  color: #63687e;
}

.small-blocks__title--dark {
  color: #8b97c6;
}

.small-blocks__value {
  font-weight: 700;
  font-size: 26px;
  margin: 0;
}

.small-blocks__value--light {
  color: #1e202a;
}

.small-blocks__value--dark {
  color: white;
}

.small-blocks__icon {
  width: 18px;
}

.small-blocks__net-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 3px 0;
}

.small-blocks__net-text {
  font-size: 12.5px;
  font-weight: 700;
  margin: 0 0 0 3px;
}

.small-blocks__net-text--positive {
  color: #1db489;
}

.small-blocks__net-text--negative {
  color: #dc414c;
}

@media (max-width: 1050px) {
  .dashboard {
    width: 320px;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__divider {
    display: block;
  }
  .header__toggle-container {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .large-blocks__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .large-blocks__block {
    margin: 0 0 25px 0;
  }
  .small-blocks__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .small-blocks__block {
    margin: 0 0 20px 0;
  }
}
/*# sourceMappingURL=style.css.map */